body{
    background-color: white;
    color: #000000;
    width: 1000px;
    margin: auto;
}

.header{
    width: 1000px;
    background-color: white;
    height: auto;
    padding-top: 10px;
}

#logo{
    float: left;
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 40px;
}

img{
    width: 150px;
    height: 110pxs;
    float: left;
    padding-left: 10px;
}

.navigation{
    width: 1000px;
}

a{
    float: left;
    width: 160px;
    font-size: 16px;
    padding-top: 13px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover{
    transform: scale(1.2);
}


.movie{
    border: none;
    margin: auto;
}
video{
    width: 1000px;
    height: 500px;
}

.preWorkout{
    background-image: url(img/minotaut_graphic.png);
    width: 1000px;
    background-position: center;
    background-size: cover;
}

.form{
    font-size: 21px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
    letter-spacing: 1px;
    text-align: inherit;
}

.concentration{
    font-size: 21px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
    letter-spacing: 1px;
    text-align: inherit;
}

.strong{
    font-size: 21px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
    letter-spacing: 1px;
    padding-left: 10px;
}

.firstQuality, .secondQuality, .thirdQuality{
    float: left;
    width: 300px;
    padding-top: 30px;
}

.firstQuality{
     margin-left: 60px;
}

img.arrow1, img.arrow2, img.arrow3{
    width: 10%;
    height: 10%;
    margin-right: 10px;
}

.belt{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 40px;
}

.workout{
    font-size: 50px;
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Anton', sans-serif;
    line-height: 90%;
}

img.small{
    height: 2%;
    width: 1.5%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 40px;
}

.beter{
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: inherit;
}

.win{
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: inherit;
}

.text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding-top: 25px;
    text-align: inherit;
    padding-left: 40px;
}

.left{
    float: left;
    width: 400px;
    margin-left: 30px;
}

.right{
    width: 440px;
    float: left;
    margin-left: -60px;
}

img.shot{
    height: 75%;
    width: 170%; 
}

.one, .two{
    width: 500px;
    height: 600px;
    float: left;
}

.box1{
    width: 380px;
    height: 250px;
    font-family: 'Anton', sans-serif;
    text-align: inherit;
    font-size: 30px;
    letter-spacing: 3px;
    background-color: lightgrey;
    padding-left: 120px;
    padding-top: 50px;
    line-height: 120%;
    
}

.box2{
    width: 500px;
    height: 300px;
    background-image: url(img/bitmap_001.jpg);
}

.box3{
    width: 500px;
    height: 300px;
    background-image: url(img/Jacek_bitmap.jpg);
}

.box4{
    width: 440px;
    height: 300px;
    background-color: lightgrey;
    padding-left: 60px;
}

#word1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    padding-top: 60px;
    float: left;
}

.arrowl{
    height: 37px;
    width: 37px;
    padding-top: 78px;
    padding-left: 15px;
}

.pompaText{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    padding-top: 5px;
    text-align:inherit;
    padding-right: 20px;
}

.black{
    padding-top: 20px;
}

.composition{
    width: 1000px;
    height: 600px;
    background-image: url(img/bitmap_002.jpg);
    background-size: 100%;
}

.timeText{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
}

.clock{
    padding: 10px 0 0 40px;
    height: 16%;
    width: 9%;
}

.toleranceText{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    padding-top: 150px;
    padding-left: 40px;
}

.effectsText{
    color: white;
    font-size: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 5px;
    padding-left: 40px;
    line-height: 18px;
}

.whiteBelt{
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.slogan{
    letter-spacing: 2px;
    font-family: 'Passion One', cursive;
    font-size: 60px;
    margin-top: 120px;
    width: 500px;
    margin-left: 40px;
}

.components{
    height: 500px;
    width: 1000px;
    background-image: url(img/minotaut_background_graphic.png);
    background-size: 100%;
    background-position: center;
}

.textAboutMinotaur{
    width: 600px;
    height: 500px;
    float: left;
}

.rightSiteComponents{
    width: 300px;
    height: 500px;
    float: left;
}

.minotaur{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 15px;
}

img.up{
    height: 0.9%;
    width: 0.9%;
    padding-left: 80px;
    padding-top: 6px;
    padding-right: 5px;
}

.firstArrow{
    font-family: 'Passion One', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

.secondArrow{
    font-family: 'Passion One', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

.thirdArrow{
    font-family: 'Passion One', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

.pshot{
    height: 55%;
    width: 85%;
    padding-left: 180px;
    margin-left: 30px;
}

.whiteArrow{
    height: 10%;
    width: 5%;
    margin: 20px 0 0 40px;
}

img.down{
    height: 2%;
    width: 2%;
    padding-top: 3px;
    padding-right: 10px;
}

.bigTextComponents{
    font-family: 'Passion One', cursive;
    font-size: 60px;
    line-height: 70%;
    padding-top: 80px;
}

.fourthArrow{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 50px;
}

.fifthArrow{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.sixthArrow{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.firstLine{
    widows: 1000px;
    height: 225px;
}

.leftRectangle{
    height: 225px;
    width: 500px;
    background-image: url(img/man_with_shaker.png);
    float: left;
    background-size: cover;
}

.rightRectangle{
    height: 225px;
    width: 500px;
    background-image: url(img/man_with_barbell.png);
    float: left;
    background-size: cover;
}

.secondLine{
    widows: 1000px;
    height: 150px;
    background-color: yellow;
}


.thirdline{
    widows: 1000px;
    height: 225px;
    background-image: url(img/barbell_bitmap.jpg);
    background-size: cover;
}

img.man2{
    width: 1000px;
    height: 225px;
}

.trainers{
    width: 1000px;
    height: 500px;
}

img.trainer{
    height: 400px;
    width: 322;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 5px;
    float: left;
}

.noSideEffects{
    font-family: 'Passion One', cursive;
    font-size: 44px;
    color: white;
    padding-top: 25px;
    padding-left: 50px;
    line-height: 85%;
}

.textNoSideEffects{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 50px;
}

.textBorder{
    font-family: 'Passion One', cursive;
    font-size: 30px;
    color: white;
    padding-left: 50px;
    padding-top: 25px;
}

img.bitMap{
    height: 30%;
    width: 15%;
    float: right;
    padding: 0 40px 10px 0;
}

.smallerText{
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-align: center;
    padding-top: 5px;
}

.bigerText{
    font-family: 'Anton', sans-serif;
    font-size: 79px;
    text-align: center;
}

.powerText{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    line-height: 98%;
    margin-left: 20px;
    padding-top: 15px;
    font-weight: 700;
    color: white;
}

.championText{
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 20px;
}

.profesional{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    color: white;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.productMinotaur{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    margin-left: 20px;
    color: white;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.firstTrainer, .secondTrainer, .thirdTrainer{
    height: 400px;
    width: 322px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-size: cover;
}

.firstTrainer{
    background-image: url(img/Fernando_colour.jpg);
}

.secondTrainer{
    background-image: url(img/Ratusznik_colour.jpg);
}

.thirdTrainer{
 background-image: url(img/Feri_colour.jpg);
}
.name{
    font-family: 'Anton', sans-serif;
    font-weight: 600;
}

.fighter{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.blackBelt1{
    padding-top: 10px;
    margin-left: -10px;
}

.blackBelt{
    padding-top: 30px;
    margin-left: -10px;
}

.description{
    height: 300px;
    width: 1000px;
}
.firstTrainerDescription{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 13px;
    padding: 40px 5px 0 5px;
}

.trainerDescription{
    height: 200px;
    width: 322px;
    float: left;
    margin-left: 10px;
}


.secondAndThirdTrainerDescription{
    padding: 60px 5px 0 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 13px;
}